body{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    font-size: 10px;
}

h1{
    text-align: center;
}

p{
    display: inline-flex;
    color: blue;
    font-size: 15px;
    padding: 10px;
    border: 1px solid lightblue;
    border-radius: 6px;
    margin: auto 10px;
}